div.insert {    
    width: 11in;
    height: 8.5in;
    overflow: hidden;
    outline: 2px solid black;
    white-space: pre;

    .front {
        float: left;
        transform: rotate(-90deg) translate(-2.5in, -2in);
        font-size: 48pt;
        width: 5in;
        height: 0;
        .title-card {    
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            .artist {
                flex-grow: 1;
                font-weight: bold;
            }
            .title {
                flex-grow: 1;
                font-weight: normal;
            }
            img.front-cover {
                padding-top: 20%;
                width: 4in;
            }
        }
    }

    &.favor-back .front {
        display: none;
    }
    
    .spine {
        text-transform: uppercase;
        position: relative;
        
        width: 100%;
        height: 7mm;
        border-top: double;
        border-bottom: double;
        border-color: lightgrey;
        
        display: flex;
        align-content: space-around;
        justify-content: space-between;
        align-items: center;
        
        font-size: 12pt;
        
        padding-left: 1.5em !important;
        padding-right: 1.5em !important;
        div:not(:first-child):not(:last-child) {
            padding-inline: 0.5em;
        }
        .label {
            display: flex;
            align-content: space-around;
            justify-content: space-between;
            align-items: center;
            font-weight: lighter;
            img {
                margin-left: 1.5mm;
                height: 5mm;
            }
        }
        .space {
            flex-grow: 1;
        }
        .artist {
            font-weight: 900;
        }
        .title {
            font-weight: bold;
        }
        .cat-no {
            font-weight: normal;
        }

        top: 6in;
    }
    &.favor-back .spine {
        top: 2.5in;
    }
}

@media print {
    * { margin: 0 !important; }
    @page { size: landscape; }
}
