@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";

@mixin center-vertically {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.center-vertically {
    @include center-vertically();
}

td > img:only-child {
    margin: -0.5rem;
}

.badge {
    &> .badge:first-child,
    &> svg.icon:first-child {
        margin-left: -2px;
    }
    &> .badge:last-child,
    &> svg.icon:last-child {
        margin-right: -2px;
    }
}
.badge {
    .badge {
        position: relative;
        top: -1px;
        margin-bottom: -1em;
        border-radius: calc(0.25rem * 0.75);
    }
    .badge:not(:last-of-type) {
        margin-right: inherit;
    }
}

.badge:not(:last-of-type) {
    margin-right: 0.2rem;
}

$lbg: adjust-color($light, $lightness: -5%);
@debug $lbg;

.badge.bg-light{
    .badge.bg-light{
        background-color: $lbg !important;
        //border: solid 0.25px $dark;
    }
}

.tag svg {
    vertical-align: -20%;
}

svg.append-inline-icon {
    vertical-align: -10%;
    margin-inline-start: 0.1rem;
    //stroke-width: 1px;
}

svg.prepend-inline-icon {
    vertical-align: -10%;
    margin-inline-end: 0.25rem;
}

img.icon {
    height: 1em;
}

.comma-sep {
    white-space: pre-wrap;
    &:not(:last-of-type)::after {
        content: ", ";
    }
}

.form-label .comma-sep {
    white-space: inherit;
}

.card-header {
    white-space: pre;
}

// Support outline-variant buttons rendered as badges
.btn.badge {
    color: inherit;
}

.placeholder  {
    outline: 1px solid red;
    min-height: 1rem;
}
