.spinner {
    flex-wrap: nowrap !important; 
    font-variant-numeric: tabular-nums;
    text-align: center;
    &:not(:hover) * {
        border-color: transparent;
    }
    button {
        font-size: small;
        padding: 0;
    }
    .count {
        > span {
            background: initial;
            width:100%;
            padding: 0 0.4rem;
            text-align: center;
        }
    }
}
