@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";

.disco-tagged {
    a {
        color: $primary !important;
    }
}

img.cover {
    border: 1px grey solid;
    border-radius: 3px;
    background-color: black;
}

table {
    tbody tr {
        height: 6.8vh;
    }
    textarea, .hover-lined {
        margin-top: inherit !important;
        font-size: small !important;
        min-height: 2rem;
    }
    .form-control, .hover-lined {
        padding: 0;
        border-radius: 0;
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom: 1px dotted black;
        // border: 1px dotted black;
        background: none;
        &:not(:active):not(:hover) {
            transition-property: border-color;
            transition-delay: 50ms;
            border-color: transparent;
            resize: none;
            overflow: hidden;
        }
        &:not(:active):not(:focus):hover {
            transition-property: border-color;
            transition-delay: 50ms;
            border-color: grey;
            //background: lightgrey;
            resize: none;
            overflow: hidden;
        }
    }
    
}

a {
    color: inherit !important;
    text-decoration: inherit !important;
}

a:hover {
    color: inherit !important;
    text-decoration: underline !important;
}

a.active[aria-current="page"] {
    color: inherit;
    cursor: default;
    &:hover {
        text-decoration: none !important;
    }
}

td {
    .badge {
        font-weight: 400;
    }
    > .badge:only-child {
        min-width: 100%;
        text-align: start;
        // make further nested elements not overflow the column
        box-sizing: border-box;
    }
}

tr.sold {
    opacity: 50%;
}

.grade {
    box-sizing: content-box;
    width: 1.8rem;
    .badge {
        font-weight: 400;
        width: 100%;
    }
}

svg.vinyl, svg.cd {
    vertical-align: text-bottom;
    margin-inline: 0.2rem;
}

svg.vinyl {
    fill: black;
    color: white;
    transform: scale(1.3);
    margin-inline: 0.15rem;
}

.listed {
    box-sizing: content-box;
    width: 3.6rem;
    .badge {
        font-weight: 400;
        width: 100%;
        border: solid 0.2px rgb(162, 162, 162);
        text-transform: uppercase;
        padding-left: 0;
        padding-right: 0;
        overflow: visible;
        // needs to line up with other badges that don't have borders
        box-sizing: border-box;
        &.sold {
            background-color: #f0fff0 !important;
            // &::after {
            //     content: "sold";
            // }
        }
        &.listed {
            border: solid 0.2px rgb(162, 162, 162) !important;
            // &::after {
            //     content: "sold";
            // }
        }
    }
}

.grade-media .badge {
    padding-left: 0;
    padding-right: 0;
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    // border-right: 0.2px solid rgba(255, 255, 255, 0.5);
}

.grade-sleeve .badge {
    padding-left: 0;
    padding-right: 0;
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
    border-left: 0.2px solid rgba(255, 255, 255, 0.5);
}

// .spinner {
//     .input-group-prepend {
//     }
//     .input-group-append {
//     }
//     &:not(:hover) {
//         button {
//             display: none;
//         }
//     }
// }

.price {
    max-width: 4rem;
}

.ListEntryBadge {
    align-content: space-between;
    text-align: left;
}

.master-year {
    font-weight: normal;
    font-variant-numeric: tabular-nums;
}

.release-year {
    font-weight: lighter;
    font-variant-numeric: tabular-nums;
}

.ArtistsCell {
    .artist {
        font-weight: bold;
    }
    .title {
        font-weight: normal;
    }
}

// .remote-ready {
//     // normal
//     //animation: focus-in-out 1s cubic-bezier(0.445, 0.050, 0.550, 0.950) infinite alternate both;
// }

.remote-error {
    color: red;
    //animation: focus-in-out 1s cubic-bezier(0.445, 0.050, 0.550, 0.950) infinite alternate both;
}

.remote-pending {
    animation: focus-in-out 1s cubic-bezier(0.445, 0.050, 0.550, 0.950) infinite alternate both;
}

@keyframes focus-in-out {
    0% {
        filter: blur(0.03em);
        opacity: 0.6;
    }
    100% {
        filter: blur(0px);
        opacity: 1;
    }
}
  
.music-label-logo-inline {
    // border: 1px solid #00000043;
    border-radius: 4px;
    vertical-align: auto;
    max-height: 2em;
    max-width: 4em;
}

a {
    white-space: nowrap;
}

a.quiet {
    color: initial;
    &:hover {
        text-decoration: initial;
    }
}



td.minimal-column,
th.minimal-column {
    // https://stackoverflow.com/a/43615091/4607986
    white-space: nowrap;
    width: 1px;
}

td.centered-column,
th.centered-column {
    text-align: center;

    // https://stackoverflow.com/a/43615091/4607986
    width: 1px;
}

a.music-label {
    .name {
        margin-left: 0.2rem;
        opacity: 30%;
        &:hover {
            opacity: inherit;
        }
    }
    &:not(:last-of-type) {
        margin-right: 2px;
        margin-bottom: 2px;
    }
}

.dropdown-toggle.no-toggle::after {
    content: none;
}

.dropdown-toggle.no-toggle:hover::after {
    content: inherit;
}

.badge.d-flex.dropdown-toggle {
    a {
        width: 100%;
        padding-right: auto;
        text-align: left;
    }

    &::after {
        margin-top: auto;
        margin-bottom: auto;
        margin-left: 0.5rem;
        transform: scale(1.25);
    }
    // &:hover::after {
    //     transition-property: transform;
    //     transition-duration: 200ms;
    // }
}

.graph {
    width: 100%;
    svg {
        height: 1000px;
        width: 100%;
        background: whitesmoke;
        border: 1px solid black;
    }
    
}

.ruler {
    div:nth-of-type(even) {
       background: whitesmoke;
    }
}


.overlay-container {
    position: relative;
    display: inline-block;

    .overlay {
        position: absolute;
        //outline: red solid 1px;
        width: 100%;
        text-align: center;
        font-size: 50%;
        font-weight: bold;
        top: 33%;
    }
}

.tab-content {
    .Pager {
        margin-top: 0.5rem;
    }
}
