img.cover {
    border: 1px grey solid;
    border-radius: 3px;
    background-color: black;
}

table {
    tr {
        height: 7vh;
    }
    .form-control {
        margin-top: -7px;
        padding: 0;
        border-radius: 0;
        border-top: none;
        border-left: none;
        border-right: none;
        background: none;
        &:not(:active):not(:hover) {
            transition-property: border-color;
            transition-delay: 50ms;
            border-color: transparent;
        }
    }
}

.grade {
    width: 1.6rem;
    .badge {
        width: 100%;
    }
}

.grade-media .badge {
    padding-left: 0;
    padding-right: 0;
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

.grade-sleeve .badge {
    padding-left: 0;
    padding-right: 0;
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}
