nav {
    * {
        white-space: nowrap;
    }

    a:hover {
        text-decoration: none !important;
        padding-bottom: 0.25rem;
        border-bottom: 0.15rem solid lightgrey;
        margin-bottom: -0.4rem;
    }

    a.active {
        color: black !important;
        padding-bottom: 0.25rem;
        border-bottom: 0.15rem solid grey;
        margin-bottom: -0.4rem;
    }
}

.navbar-text {
    margin-right: 1em;
}

img {
    margin-right: .5rem;
    border-radius: .4rem;
}
img.logo {
    width: 4.5rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    margin-top: -0.5rem;
    margin-bottom: -2rem;
}
