nav {
    * {
        white-space: nowrap;
    }
}
.navbar-text {
    margin-right: 1em;
}

img.logo {
    width: 4.5rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    margin-top: -0.5rem;
    margin-bottom: -2rem;
}
