.navbar-text {
    margin-right: 1em;
}

.spinner-overlay {
    float: left;
    width: 2em;
    margin-right: -2em;
    text-align: center;
    padding-top: 0.4rem;
}

.spinner-border {
    margin-bottom: -0.5em;
}
