.stars {
    display: flex;
    flex-wrap: nowrap;
    &:not(.disabled) {
        cursor: pointer;
        &:hover .star.on {
            transform: scale(1.2);
        }
    }
    &.disabled * {
        cursor: initial;
        color: grey;
    }
}
