.badge.tag {
    .count {
        box-sizing: content-box;
        border: 0.5px solid;
        border-color: #ffffff72;
        //border-radius: 50%;
        background-color: grey;
        padding: 0.1rem 0.2rem;
        color: white;
    }
}
